# Learning Materials - Basic Syntax, Variables and Data Types
---

## **Basic Syntax**

#### **Print**
The print() function prints the specified message to the screen, or other standard output device.

The message can be a string, or any other object, the object will be converted into a string before written to the screen

In [1]:
print("Hello, World!")

Hello, World!

#### **Python Indentation**

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python will give you an error if you skip the indentation:

In [3]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

#### **Comments**

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [4]:
# This is a comment.
print("Hello, World!")

Hello, World!

In [5]:
"""
This is a comment
written in
more than just one line
"""

print("Hello, World!")

Hello, World!

In [6]:
'''
This is a comment
written in
more than just one line
'''

print('Hello, World!')

Hello, World!

## **Python Variables**

In Python, variables are created when you assign a value to it:

![image]()

#### **Creating Variables**
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [7]:
x = 5
y = "Hello, World!"

In [8]:
print(y)

Hello, World!

#### **Get the Type**

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [9]:
x = 4      # x is of type int
y = "Rudy" # x is now of type str

In [10]:
type(x)

int

#### **Case-Sensitive**
Variable names are case-sensitive.

In [11]:
a = "Rudy"
A = 10

print(a)

sally

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A v- riable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords.

```python
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
```

The illegal variable names
```python
2myvar = "John"
my-var = "John"
my var = "John"
```

**Multi Words Variable Names**
- camel case : `myVariableName = "John"`
- pascal case : `MyVariableName = "John"`
- snake case : `my_variable_name = "John"`

#### **Assign Multiple Value**

In [12]:
x, y, z = "Orange", 10, "Cherry"
print(x)
print(y)
print(z)

Orange
10
Cherry

#### **Unpack a Collection**

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#### **One Value to Multiple Variables**

In [14]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

## **Data Types**

![image](https://images.datacamp.com/image/upload/c_scale,f_auto,q_auto:best,w_700/v1512740202/Template_2_oxrskq.png)

### **Python Number**

#### **Integers**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [15]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### **Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [16]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### **Strings**
Strings are sequences of character data. The string type in Python is called str.

String literals may be delimited using either single or double quotes. All the characters between the opening delimiter and matching closing delimiter are part of the string:

In [17]:
print("Hello")
print('Hello')

Hello
Hello

In [18]:
# we could assign into variable
a = "Hello"
print(a)

Hello

In [19]:
# Multiple Line String
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

b = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

In [20]:
print(a)
print()
print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### **Booleans**
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [21]:
print(10 > 9)
print(0 == False)
print(10 < 9)

True
True
False

In [22]:
# Use case of booleans
a = 2
b = 5

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

In [23]:
a = 'rudy'
b = 'Rudy'

if a == b:
    print('same person')
else:
    print('different person')

different person

### **Python Casting**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

- `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- `str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [24]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [25]:
print(y)
type(y)

2

int

In [26]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [27]:
print(z)

3.0

In [28]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

### **Operators and Expression in Python**

In [29]:
a = 10
b = 20
a + b

30

In [30]:
a = 10
b = 20
a + b - 5

25

In [31]:
# Here are some examples of these operators in use:

a = 7
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)
print(a ** b)

10
4
21
2.3333333333333335
1
2
343

### **Comparison Operators**

In [32]:
# Here are examples of the comparison operators in use:
a = 10
b = 20

print(a == b) # equal

print(a != b) # is not equal

print(a < b) # Less than

print(a >= b) # more than equal

False
True
True
False

In [33]:
a = 30
b = 30

print(a == b)

print(a <= b)

print(a >= b)

True
True
True

### **String Manipulation**

In [1]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s +" "+t)

print(s + t + u)

print('Makmur ' + 'Indonesia')

foo bar
foobarbaz
Makmur Indonesia

In [35]:
# * Operators

s = 'foo.'

s * 4

'foo.foo.foo.foo.'

In [36]:
# in Operators

s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [2]:
# Case Conversion
s = 'makMUR indonesia'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Makmur indonesia
makmur indonesia
MAKmur INDONESIA
Makmur Indonesia
MAKMUR INDONESIA

### **List**

The most commonly used Composite Data Structure in Python is a `list`. `List` is a place to store data that has a sequence. Data can be anything from strings, numbers or other data types.

A `list` in Python is represented by square brackets `[ ]`

Suppose we need to record the ages of 5 students. <br>
Instead of creating 5 separate variables,
```python
student1 = 17
student2 = 18
student3 = 15
student4 = 19
student5 = 14
```

we can simply create a list.
```python
studentsAge = [17, 18, 15, 19, 14]
```

![image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4BCAtDUhiCt9P_ThxWZh21z3rCZ0GNK-7tA&usqp=CAU)

A list can :
- store elements of different types (integer, float, string, etc.)
- store duplicate elements

```python
# list with elements of different data types
list1 = [1, "Hello", 3.4]

# list with duplicate elements
list1 = [1, "Hello", 3.4, "Hello", 1]

# empty list
list3 = []
```

In Python, lists are ordered and each item in a list is associated with a number. The number is known as a list index.

The index of the first element is 0, second element is 1 and so on.

![image.png](https://prepbytes-misc-images.s3.ap-south-1.amazonaws.com/assets/1671778764801-list%20program%20in%20python2.png)

Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

![image.png](https://prepbytes-misc-images.s3.ap-south-1.amazonaws.com/assets/1671778764802-list%20program%20in%20python3.png)

In [38]:
# Exercise
names = ['agus', 'bambang', 'dwi']

# print the name
print(names[1])

bambang

In [39]:
# List are ordered
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [40]:
# The concatenation (+) and replication (*) operators:

print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux']
['foo', 'bar', 'baz', 'qux', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'foo', 'bar', 'baz', 'qux']

In [41]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux']
4
bar
qux

In [2]:
my_list = [1, 2, 3]

my_list[0] = 0
print(my_list)

[0, 2, 3]

**Slicing a List**

In Python, it is possible to access a portion of a list using the slicing operator `:`. For example,

[start_index : end_index(ekslusif) : step]

In [2]:
# List slicing in Python
my_friends = ['icha', 'lia', 'bayu', 'agus', 'bambang', 
              'dwi', 'septian', 'dika', 'nanta', 'shandi']


# items from index 2 to index 5
print(my_friends[2:6])

['bayu', 'agus', 'bambang', 'dwi']

***Note***: When we slice lists, the start index is inclusive, but the end index is exclusive.

In [3]:
# items from index 5 to end
print(my_friends[5:])

['dwi', 'septian', 'dika', 'nanta', 'shandi']

In [5]:
# items beginning to end
print(my_friends[::])

['icha', 'lia', 'bayu', 'agus', 'bambang', 'dwi', 'septian', 'dika', 'nanta', 'shandi']

In [45]:
# Modifying a single list value
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [46]:
# Modifying multiple list value
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

**List Method**

A method is a function that “belongs to” an object.

1. *append* method (Add an element)

In [47]:
numbers = [21, 34, 54, 12]

print("Before Append:", numbers)

Before Append: [21, 34, 54, 12]

In [48]:
numbers.append(30)

print(numbers)

[21, 34, 54, 12, 30]

2. *remove* method (Remove an element)

In [49]:
languages = ['Python', 'Swift', 'C++', 'C', 'Java', 'Rust', 'R', 'Java']

In [50]:
languages.remove('Java')

print(languages)

['Python', 'Swift', 'C++', 'C', 'Rust', 'R', 'Java']

3. other methods

| Method |	Description |
|--------|--------------|
| extend() | add all the items of an iterable to the end of the list |
| insert() | inserts an item at the specified index |
| remove() | removes item present at the given index|
| pop() | returns and removes item present at the given index |
| clear() | removes all items from the list |
|index()|	returns the index of the first matched item |
|count()|	returns the count of the specified item in the list |
|sort()	|sort the list in ascending/descending order |
|reverse()|	reverses the item of the list |
|copy()|	returns the shallow copy of the list |

In [51]:
# give method another example (please teach how to google it)

### **Tuple**

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and **unchangeable**.

Tuples are written with round brackets.

In [52]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [53]:

print(thistuple[0])

print(thistuple[-1])

apple
cherry

In [54]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [55]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

In [7]:
my_tuple = (1, 2, 3)

# my_tuple.remove(2)  # akan error karena immutable
# my_tuple[0] = 0 # akan error karena immutable
print(my_tuple)

(1, 2, 3)

### **Set**

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [3]:
# Duplicates Not Allowed
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [4]:
# Case 1
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 'banana', 2, 'apple', 'cherry'}

In [59]:
# Case 2
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

In [1]:
fruits = {"apple", "orange", "banana"}

fruits.add("lemon")
print(fruits)

fruits.add("orange")
print(fruits)

fruits.update({"grape", "orange"})
print(fruits)

{'banana', 'apple', 'lemon', 'orange'}
{'banana', 'apple', 'lemon', 'orange'}
{'banana', 'lemon', 'grape', 'orange', 'apple'}

In [2]:
fruits.remove("orange")
print(fruits)

{'banana', 'lemon', 'grape', 'apple'}

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union
print(set1.union(set2))

# Intersection
print(set1.intersection(set2))

# Difference
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [14]:
# Membuat frozenset
my_frozenset = frozenset([1, 2, 3, 4, 5])
print(my_frozenset)

# Mencoba menambahkan elemen ke frozenset
# my_frozenset.add(6)  # Ini akan menghasilkan error

# Mencoba menghapus elemen dari frozenset
my_frozenset.remove(1)  # Ini juga akan menghasilkan error

frozenset({1, 2, 3, 4, 5})

AttributeError: 'frozenset' object has no attribute 'add'

In [13]:
# Membuat beberapa set pengguna
user_set1 = {"User1", "User2", "User3"}
user_set2 = {"User2", "User3", "User4"}
user_set3 = {"User3", "User4", "User5"}

# Mengubah set pengguna menjadi frozenset
user_fset1 = frozenset(user_set1)
user_fset2 = frozenset(user_set2)
user_fset3 = frozenset(user_set3)

# Membuat dictionary dengan frozenset sebagai kunci dan jumlah interaksi sebagai nilai
interaction_dict = {user_fset1: 120, user_fset2: 150, user_fset3: 100}

# Menampilkan jumlah interaksi untuk setiap grup pengguna
for users, interactions in interaction_dict.items():
    print(f"Grup pengguna {users} memiliki {interactions} interaksi.")

Grup pengguna frozenset({'User1', 'User3', 'User2'}) memiliki 120 interaksi.
Grup pengguna frozenset({'User2', 'User4', 'User3'}) memiliki 150 interaksi.
Grup pengguna frozenset({'User4', 'User3', 'User5'}) memiliki 100 interaksi.

### **Dictionary**

Dictionaries and lists share the following characteristics:

- Both are mutable.
- Both are dynamic. They can grow and shrink as needed.
- Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

Dictionaries differ from lists primarily in how elements are accessed:

- List elements are accessed by their position in the list, via indexing.
- Dictionary elements are accessed via keys.

![image.png](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0Xn6nCgGELUVpN0ZFEsLNFRTv2gbIQunBiQ&usqp=CAU)

In [60]:
# Create a dictionary
thisdict = {'Brand': "Ford",
            "model": "Mustang",
            "year": 1964}

print(thisdict)

{'Brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [61]:
# Access the value
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# return the "Ford"
print(thisdict['brand'])

Ford

In [62]:
# Duplicates key is not allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": [1964, 2020, 2024],
  'Buyer': {'name':'Riki', 'Job':'Instructor'}
}

# return the "2020" value
print(thisdict[''])

KeyError: ''

In [ ]:
# Dictionary Items - Data Types
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

**Accesing Dictionary**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict['year']

# get the value and set into a variable
var_tahun = thisdict['year']
print(var_tahun)

In [ ]:
# another way
nama_brand = thisdict.get("model")
print(nama_brand)

In [ ]:
# Get a list of the keys 
x = thisdict.keys()
x

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

# Add new key and value
car["color"] = "red"

print(car) #after the change

# change the value
car['color'] = 'yellow'
print(car)

**Get Items**

The items() method will return each item in a dictionary, as tuples in a list.

```python
x = car.items()
```

In [ ]:
# Make a change in the original dictionary, 
# and see that the items list gets updated as well
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

# car["year"] = 2020

# print(car) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

In [1]:
keranjang = {}
keranjang['laptop'] = 20000000
keranjang['hp'] = 15000000


print(keranjang)

{'laptop': 20000000, 'hp': 15000000}

### **Array**

An array is a data structure that stores a collection of items. Each item in an array is accessed by its index. Arrays are useful when you want to store multiple items of the same type in a single variable.

In [8]:
import array as arr

my_array = arr.array('i', [1, 2, 3, 4, 5]) # `i` for integer
print(my_array)

array('i', [1, 2, 3, 4, 5])

In [9]:
# Create an array
numbers = arr.array('i', [1, 2, 3, 4, 5])
print("Original array: ", numbers)

# Append a value to the end of the array
numbers.append(6)
print("After appending a value: ", numbers)

# Insert a value at a specific position
numbers.insert(0, -3)
print("After inserting a value: ", numbers)

# Remove a value from the array
numbers.remove(5)
print("After removing a value: ", numbers)

numbers.insert(2, -9)
print("After inserting a value: ", numbers)

Original array:  array('i', [1, 2, 3, 4, 5])
After appending a value:  array('i', [1, 2, 3, 4, 5, 6])
After inserting a value:  array('i', [-3, 1, 2, 3, 4, 5, 6])
After removing a value:  array('i', [-3, 1, 2, 3, 4, 6])
After inserting a value:  array('i', [-3, 1, -9, 2, 3, 4, 6])

In [10]:
# Reverse the order of the array
numbers.reverse()
print("After reversing the array: ", numbers)

# Get the index of the first occurrence of a value
index = numbers.index(2)
print("The index of the first occurrence of 2: ", index)

# Count the number of occurrences of a value
count = numbers.count(2)
print("The number of occurrences of 2: ", count)

After reversing the array:  array('i', [6, 4, 3, 2, -9, 1, -3])
The index of the first occurrence of 2:  3
The number of occurrences of 2:  1

In [11]:
import numpy as np

# Create two arrays
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])

# Addition
addition = a + b
print("Addition: ", addition)

# Subtraction
subtraction = a - b
print("Subtraction: ", subtraction)

# Multiplication
multiplication = a * b
print("Multiplication: ", multiplication)

# Division
division = a / b
print("Division: ", division)

# Exponentiation
exponentiation = a ** 2
print("Exponentiation: ", exponentiation)

# Modulus
modulus = a % b
print("Modulus: ", modulus)

Addition:  [ 6  8 10 12]
Subtraction:  [-4 -4 -4 -4]
Multiplication:  [ 5 12 21 32]
Division:  [0.2        0.33333333 0.42857143 0.5       ]
Exponentiation:  [ 1  4  9 16]
Modulus:  [1 2 3 4]

#### **The Main Difference between Using `import array` and `import numpy`**
Here is the explanation.
- Arrays are **part of** the core Python programming, whereas NumPy is a **separate package** that needs to be installed.
- NumPy arrays are **more versatile** than Python arrays. They can have any number of dimensions.
- For **numerical computations**, NumPy arrays are **more efficient** and are preferred over Python arrays. 
- For other types of operations such as adding or removing elements, **Python's array module can be more efficient** due to being a built-in Python functionality.

### **Additional Math Operation**

In [8]:
a = 5
b = 2

print(a/b)

print(a//b)

print(a//b+1)

2.5
2
3

In [6]:
import math

print(math.floor(5/2))

print(math.ceil(5/2))

2
3

---
## **Highlights**

- **List** is a collection which is *ordered* and *changeable*. Allows *duplicate members.*
- **Tuple** is a collection which is *ordered* and *unchangeable*. Allows *duplicate members*.
- **Set** is a collection which is *unordered*, *changeable*, and *unindexed*. *No duplicate members*.
- **Dictionary** is a collection which is *ordered* and *changeable*. No duplicate members.